[Desktop Entry]
Name=Spyke Viewer
GenericName=Graphical utility for analyzing electrophysiological data
Exec=spyke-viewer
Icon=/usr/share/pixmaps/spykeviewer.png
Terminal=false
Type=Application
Categories=Science;Education;Qt;DataVisualization;
StartupNotify=false