[Desktop Entry]
Name=Spyke Viewer
GenericName=Graphical utility for analyzing electrophysiological data
Exec=spykeviewer
Icon=spykeviewer.png
Terminal=false
Type=Application
Categories=Science;Education;Qt;DataVisualization;
StartupNotify=false
Keywords=science;education;electrophysiology
